[global]
app.name           = CarpoolTest
default.domain     = 
domain             = 
default.locale     = 1
mail.addr          = 
mail.display       = Carpool Support

; Feedback properties
feedback.mail      = 
feedback.to.name   = 
feedback.from      = 
feedback.from.name = Carpool Feedback

; Log level: 0 - no logging, 4 - very verbose. Recommended for production: 1
log.level          = 1
; Log file. Use "~" as reference to BASE_PATH
log.file           = "~/carpool_test.log"

[database]
database.dsn       = sqlite:%DATAPATH%/data_test.sq3
database.user      =
database.pass      =

[authentication]
; Authentication mode: 1 - Use token (default), 2 - Use LDAP, 3 - Use password
auth.mode          = 2
; For password authenticaion - password salt
auth.pass.salt     = 
; For LDAP based authentication - LDAP domain
auth.ldap.domain   = 
auth.ldap.port     = 
; Used for adding a prefix to user names when authenticating, e.g. ADCOMP\User1
auth.ldap.domain.name = 

[settings]
notify.immediate   = 1
branding.enable    =

[localization]
default.src.city   =
default.src.loc    =
default.dest.city  = 
default.dest.loc   = 
