/* 
 * CSS styles all over the application
 * A few snippets are taken from Twitter's Bootstrap CSS Framework
 * 
 */


#bd {
}

h1 {
	font-size: xx-large;
	font-weight: bold;	
	display: block;
}

h2 {
	font-size: large;
	font-weight: bold;
}

h3 {
	font-size: large;
	font-weight: bold;
}

#branding {
    background: url('../img/Branding_Bg.gif');
    background-repeat: repeat-x;
    height: 56px;
    min-height: 56px;
}

#imgLogoRight {
	float: right;
}

#imgLogoLeft {
	float: left;
}

#header {
	margin: 10px 0;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-right: 30px;
	padding-left: 30px;
}

#navbar {
	padding: 10px 30px 0 30px;
}

#navbar li {
	float: left;
	margin-left: 10px;
}

#navbar li:FIRST-CHILD {
	margin-left: 0;
}

#navbar li a {
	color: blue;
}

#navbar li a:VISITED {
	color: blue;
}

#navbar .selected {
	font-weight: bold;	
}

#regionHolder {
	float: right;
	margin-right: 10px;
	padding-right: 10px;
}

#regionHolder select {
	border: 0;
}


#langHolder {
	float: right;
}

#langHolder select {
	border: 0;
}

#content {
	margin: 0 30px;
}

/* Global helper classes */

.clearFloat {
	clear: both;
}

.hidden {
	display: none;
}

.roundCorner {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/* Forms */

label {
	display: block;
}

textarea {
	overflow: auto;
}

input[type="checkbox"] {
	float: left;
	margin-right: 5px;
	display: block;
}

input[type="radio"] {
	margin-right: 5px;
}

select {
	border: 1px solid #c0c0c0;
	background: none;
	padding: 3px;	
}

form input[type=text]:focus, 
textarea:focus,
form input[type=password]:focus {
	border: 1px solid gray;
}

form input[type=checkbox], form input[type=radio] {
  cursor: pointer;
}

form input[type=text],
form input[type=password],
form textarea,
form select,
form .uneditable-input {
  display: inline-block;
  margin: 0;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  height: 18px;
  width: 200px;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
form select, form input[type=file] {
  height: 27px;
  line-height: 27px;
}
form textarea {
  height: auto;
}
form input[type=text],
form input[type=password],
form select,
form textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

form dd {
	float: left;
	margin: 5px 5px 5px 0;
}

form dl.noFloat dd {
	float: none;
}

form ul.radioSelectorHolder li {
	margin: 8px 0;
}

.description {
	display: block;
	font-size: x-small;
}

.mandatoryMark {
	color: red;
	font-weight: bold;
	padding: 0 3px;
}

form .shortInput {
	width: 80px;	
}

/* Fancy buttons */

.btn {
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(0.25, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, color-stop(0.25, #ffffff), #e6e6e6);
  background-image: -moz-linear-gradient(#ffffff, color-stop(#ffffff, 0.25), #e6e6e6);
  padding: 4px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333333;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom-color: rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
.btn.primary {
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(#049cdb, #0064cd);
  background-image: -ms-linear-gradient(#049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(#049cdb, #0064cd);
  background-image: -o-linear-gradient(#049cdb, #0064cd);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  background-image: linear-gradient(#049cdb, #0064cd);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.primary:hover {
  color: #fff;
}
.btn.large {
  font-size: 16px;
  line-height: 28px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn.small {
  padding-right: 9px;
  padding-left: 9px;
  font-size: 11px;
}
.btn:disabled, .btn.disabled {
  background-image: none;
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  cursor: default;
}
.btn:active {
  -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05);
}
button.btn::-moz-focus-inner, input[type=submit].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Global message */

#globalMessage {
	margin: 10px 30px;
	padding: 10px;
	border: 1px solid #9BCD9B;
	background: #C1FFC1;	
	display: none;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#globalMessage.error {
	border: 1px solid #8B0000;
	background: #E9967A;
}

#closeMessage {
	font-size: x-small;
	float: right;	
	cursor: pointer;
}

/* Search page */

#searchFormHolder {

}

#searchForm {
	display: block;
	float: left;
}

#searchForm label, #regionSelectorForm label {
	display: inline;
}

#regionSelectorForm {
	display: block;
	float: right;
}

#regionSelectorForm select {
	width: 4em;
	
}

#showInterest {
	position: absolute; 
	border: 1px solid #c0c0c0; 
	padding: 5px; 
	background: white; 
	display: none;
}

#showInterest label {
	float: left;
	width: 6em;
}

#showInterestForm dl {
	padding-top: 10px;	
}

#results {

}

p#loadingNotice {
	padding: 2px 6px;
}

#resultsTable {
	width: 100%;
}

#resultsTable tr:first-child {
	border-bottom: 1px solid #4D4D4D;
}

#resultsTable tr {
	border-bottom: 1px solid #c0c0c0;	
}

#resultsTable th {
	font-weight: bold;
	padding: 5px 3px;
}

#resultsFrom {
	width: 12%;
	min-width: 12%;
}

#resultsIn {
	width: 7%;
	min-width: 7%;
}

#resultsOut {
	width: 7%;
	min-width: 7%;
}

#resultsWhat {
	width: 3%;	
}

#resultsTo {
	width: 12%;
	min-width: 12%;
}

#resultsContact {
	width: 12%;
	min-width: 12%;
}

#resultsEmail {
	width: 16%;	
	min-width: 16%;
}

#resultsPhone {
	width: 10%;
	min-width: 10%;
}

#resultsComment {
	width: 20%;
	min-width: 20%;
	max-width: 20%;
	max-width: 20%;
}

#resultsTable td {
	padding: 3px;
}

#resultsMessage {
	font-size: large;
	font-weight: bold;
	margin: 5px 10px;	
}

/* Join page */

#addRideForm {
	margin-bottom: 20px;
}

#addRideForm fieldset:FIRST-CHILD {
	margin-top: 10px;	
}

#addRideForm fieldset {
}

#addRideForm legend {
	padding-right: 15px;
	display: none;
}

/* Thank you page */

#authLink {
	margin: 6px 10px;	
}

#authLink a {
	color: black;
	font-weight: bold;
	background: #DDD;
}

#contactDetails {
	padding: 6px 0;	
}

#contactDetails li {
	padding: 6px 0;
	border-top: 1px solid #DDD;	
}

#contactDetails li:FIRST-CHILD {
	border: 0;	
}

#contactDetails li span:FIRST-CHILD {
	font-weight: bold;
	width: 9em;
	display: block;
	float: left;	
}
	
/* Help page */

#questionsHolder p span {
	font-weight: bold;
	padding-right: 5px;
	color: blue;
}

#questionsHolder .q {
	font-weight: bold;
}

#questionsHolder .q span {
	
}

#questionsHolder .a span {
	
}

#questionsHolder li {
	margin-bottom: 10px;	
	padding-top: 10px;
	border-top: 1px solid gray;
}

#questionsHolder li:FIRST-CHILD {
	padding-top: 0;
	border-top: 0;
}

#questionsHolder li p {
	margin-bottom: 4px;	
	
}

/* Feedback page */

#feedbackForm fieldset {
	margin: 10px 0;	
}


